@font-face {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('/fonts/Aileron/Aileron-Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url('/fonts/Aileron/Aileron-ThinItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('/fonts/Aileron/Aileron-UltraLight.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url('/fonts/Aileron/Aileron-UltraLightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/Aileron/Aileron-Light.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/Aileron/Aileron-LightItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Aileron/Aileron-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Aileron/Aileron-Italic.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/Aileron/Aileron-SemiBold.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/Aileron/Aileron-SemiBoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Aileron/Aileron-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Aileron/Aileron-BoldItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('/fonts/Aileron/Aileron-Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url('/fonts/Aileron/Aileron-HeavyItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('/fonts/Aileron/Aileron-Black.otf') format('opentype');
}

@font-face {
    font-family: 'Aileron';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url('/fonts/Aileron/Aileron-BlackItalic.otf') format('opentype');
}

@font-face {
    font-family: 'Divine';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/Divine/Divine.otf') format('opentype');
}

@font-face {
    font-family: 'Letric';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Letric/Letric_Demo.otf') format('opentype');
}

@font-face {
    font-family: 'Nightcore';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/Nightcore/Nightcore.ttf') format('truetype');
}

@font-face {
    font-family: 'Redwing';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('/fonts/Redwing/Hairline.otf') format('opentype');
}

@font-face {
    font-family: 'Redwing';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('/fonts/Redwing/Thin.otf') format('opentype');
}

@font-face {
    font-family: 'Redwing';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/Redwing/Light.otf') format('opentype');
}

@font-face {
    font-family: 'Redwing';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Redwing/Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Redwing';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/Redwing/Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Redwing';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/Redwing/Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Redwing';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('/fonts/Redwing/Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'Redwing';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('/fonts/Redwing/Black.otf') format('opentype');
}

@font-face {
    font-family: 'Storyteller';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/Storyteller/Storyteller.ttf') format('truetype');
}

@font-face {
    font-family: 'Tourner';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/fonts/Tourner/Tourner.ttf') format('truetype');
}
